<main>
    <!-- Landing Area -->

    <div id="landing">
      <div id="landing-text">
        <div id="landing-text-inner">
          <h1>DavSun Wedding</h1>
          <h4>"And we know that in all things God works for the good of those who love him, who have been called according to his purpose" - Romans 8:28</h4>
          <p>Date: 23rd - Aug - 2018</p>
          <a href="#header" class="btn" id="venue-Details">
            Venue Details
          </a>
        </div>
      </div>
      <div id="landing-image"></div>
    </div>
    <div id="header">
      <h2>Wedding Venue</h2>
    </div>
    <div id="wedding">
        <div id="wedding-image"></div>
        <div id="wedding-text">
          <div id="wedding-text-inner">
            <h1>Hebron MINISTRIES</h1>
            <h4>Pudhupattinam, Kalpakkam</h4>
            <p>Date: 23rd - Aug - 2018</p>
            <a href="#wedding-text-inner" class="btn" id="wedding-Details">
              Vote Here
            </a>
            <form action="/wedding" method="post" id="wedding-form">              
              <div id="wedding-input">
                <div id="wedding-name">
                  <label for="wedding-name-text">Enter Your Name: </label>
                  <input type="text" id="wedding-name-text" name="name" placeholder="Name" value="{{name}}">
                </div>
                <div id="wedding-mail">
                  <label for="wedding-name-mail">Enter Your email: </label>
                  <input type="text" id="wedding-name-mail" name="email" placeholder="abc@xyz" value="{{email}}">
                </div>
                <div id="wedding-vote-option">
                  <label for="wedding-radio-yes">Yes </label>
                  <input type="radio" name="wedding_vote" id="wedding-radio-yes" value="yes">
                  <label for="wedding-radio-no">No </label>
                  <input type="radio" name="wedding_vote" id="wedding-radion-no" value="no">
                  <label for="wedding-radio-maybe">May-be </label>
                  <input type="radio" name="wedding_vote" id="wedding-radio-maybe" value="maybe">
                </div>
                <div id="wedding-vote-button">
                  <a href="#wedding-text-inner" class="btn" id="wedding-vote-submit">
                    Submit</a>
                  <a href="#wedding-text-inner" class="btn" id="wedding-vote-cancel">
                    Cancel</a>
                </div>
              </div>
            </form>
            {{#if msg}}
              <div id="success-wed-message"><p>Your entry saved successfully! Blessed to be Blessed - Gen 12:2</p></div>
            {{/if}}
            {{#if warning}}
            <div id="warning-wed-node"><p>{{warning}}</p></div>
            {{/if}}
            <div id="warning-wed-message"><p>Kindly select one option from above!</p></div>
          </div>
        </div>
      </div>
    <div id="reception-header">
      <h2>Reception Venue</h2>
    </div>
      <div id="reception">
          <div id="reception-text">
            <div id="reception-text-inner">
              <h1>Reception Details</h1>
              <h4>Neyveli</h4>
              <p>Date: 25th - Aug - 2018</p>
              <a href="#reception-text-inner" class="btn" id="reception-Details">
                Vote Here
              </a>
              <form action="/reception" method="post" id="reception-form">              
              <div id="reception-input">
                <div id="reception-name">
                  <label for="reception-name-text">Enter Your Name: </label>
                  <input type="text" id="reception-name-text" name="name" placeholder="Name" value="{{name_reception}}">
                </div>
                <div id="reception-mail">
                  <label for="reception-name-mail">Enter Your email: </label>
                  <input type="text" id="reception-name-mail" name="email" placeholder="abc@xyz" value="{{email_reception}}">
                </div>
                <div id="reception-vote-option">
                  <label for="reception-radio-yes">Yes </label>
                  <input type="radio" name="reception_vote" id="reception-radio-yes" value="yes">
                  <label for="reception-radio-no">No </label>
                  <input type="radio" name="reception_vote" id="reception-radion-no" value="no">
                  <label for="reception-radio-maybe">May-be </label>
                  <input type="radio" name="reception_vote" id="reception-radio-maybe" value="maybe">
                </div>
                <div id="reception-vote-button">
                  <a href="#reception-text-inner" class="btn" id="reception-vote-submit">
                    Submit</a>
                  <a href="#reception-text-inner" class="btn" id="reception-vote-cancel">
                    Cancel</a>
                </div>
              </div>
            </form>
            {{#if msg_reception}}
              <div id="success-reception-message"><p>Your entry saved successfully! Blessed to be Blessed - Gen 12:2</p></div>
            {{/if}}
            {{#if warning_reception}}
            <div id="warning-reception-node"><p>{{warning_reception}}</p></div>
            {{/if}}
            <div id="warning-reception-message"><p>Kindly select one option from above!</p></div>
            </div>
          </div>
          <div id="reception-image"></div>
        </div>
      <!-- <img src="./images/3.jpg" alt="">    
      <div class="caption">
        <h3>Reception Details</h3>
        <p>Neyveli</p>
      </div> -->
    </div>

  </main>

  <footer>
    <h3>Get In Touch</h3>
    <p>Email or Call-us</p>
    <p>Email: <strong>davsunwedding@gmail.com</strong></p>
    <p>Phone: <strong>+91 99 412 412 40</strong></p>
  </footer>